* {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

#home {
  background-image: url("../assets/imgs/stars-bg.png");
  height: 100vh;
  /* background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
}

header {
  display: flex;
  flex-direction: row;
  padding: 30px;
  color: white;
}

header img {
  width: 20%;
  margin-left: 50px;
  user-select: none;
  pointer-events: none;
}

header h1 {
  font-size: 2rem;
  margin-left: 20px;
  align-self: flex-end;
  color: #FFE919;
}

main {
  background-color: rgba(0, 0, 0, 0.9);
  margin: 30px;
  padding: 30px;
  border-radius: 50px;
}

#filtering-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  margin: -15px 0 15px 0;
}

#filtering-container button {
  background: none;
  color: white;
  border: none;
  margin: 0 15px 0 0;
  cursor: pointer;
}

.sort-icon {
  width: 25px;
  height: 25px;
}

#search-container {
  position: relative;
  display: flex;
  align-items: center;
}

#search-container input {
  padding-left: 35px;
  border-radius: 10px;
  border: none;
  height: 40px;
  width: 180px;
  margin-right: -4px;
}

#search-icon {
  position: absolute;
  left: 10px;
  color: grey;
}

#characters-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 30px;
}

.characters-container {
  width: calc(20% - 50px);
  background-color: grey;
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}

#pagination-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px 0 0 0;
}

#pagination-container button {
  background: none;
  color: white;
  border: none;
  cursor: pointer;
}

.go-to-page-icon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

#pagination-summary {
  margin: 0 20px;
  color: white;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
}